body {
	background-image: url("bg-body.png") ;
}


header {
	
	width:900px;
	text-align:center;
	background:#00bcd4;
}

nav {
	
	width:900px;
	text-align:center;
	background:#00bcf6;
	height:30px;
	line-height:30px;
	text-transform: uppercase;
	
}
 
#projeto {
	
	width:900px;
	text-align:center;
	background:#00bcd4;
	padding-bottom:20px;
	
}

footer {
	
	width:900px;
	background:#00bcd4;
	text-align:center;
	padding-bottom: 20px;
}

